# Jangan commit file ini!
.env

# Cache Python
__pycache__/
*.pyc
*.pyo

# Cache model HuggingFace
.cache/
~/.cache/

# Virtual environment
venv/
env/
fp_311_env/
.conda/

# Streamlit
.streamlit/
streamlit/secrets.toml